* {
  box-sizing: border-box;
}

:root {
  /* --color-letters: #dddddd; d1d1d1 */
  /* --color-background: #222031; 090a0b */
  /* --color-2-background: #30475e; 23262f */
  /*444752*/
  --color-title: #f05454;
  --color-letters: #d1d1d1;
  --color-background: #090a0b;
  --color-2-background: #23262f;
  --color-figures: #444752;
  --color-2-figures: #293146;

  --font-family-titles: "Dosis", sans-serif;
  --font-family-text: "Red Hat Display", sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

body {
  background-color: var(--color-background);
  color: var(--color-letters);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 18px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 30px;
  color: var(--color-title);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  /* color: var(--purple-dark-1); */
  font-weight: var(--font-weight-title2);
}

h3 {
  /* color: var(--purple-dark-2); */
  font-weight: var(--font-weight-text2);
  font-size: 18px;
}

/*--------------------------------------------------*/
/*SECCION DEL HEADER*/

/*ESTRUCTURA DEL HEADER EN GENERAL*/
#header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

/*HEADER LOGO AND TITLE*/
.header-logo-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.header-logo-title .header-icon {
  width: 40px;
}

/*HEADER INPUT AND BUTTON*/

#searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--color-2-background);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--color-letters);
  font-family: var(--font-family-text);
}

button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  color: black;
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
  background-color: var(--color-2-background);
}

/*HEADER LIST OF THE OPTIONS*/

.header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

/*--------------------------------------------------*/
/*SECCION DE LAS CATEGORIAS*/
/*ESTRUCTURA DE LISTAS DE CATEGORIAS EN GENERAL*/
#categoriesPreview {
  margin-top: 20px;
}

/*LISTA DE CATEGORIAS*/
/*ESTRUCTURA DE LA LISTA EN GENERAL*/
.categoriesPreview-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  margin: 0px 135px;
  padding: 0 20px;
}

/*ESTRUCTURA DE CADA CATEGORIA POR SEPARADO*/
.category-container {
  background-color: var(--color-2-background);
  padding: 5px 20px;
  border-radius: 8px;
}

.category-container:nth-child(3n) {
  background-color: var(--color-2-figures);
}

.category-container:nth-child(2n) {
  background-color: var(--color-figures);
}

/*--------------------------------------------------*/
